<!DOCTYPE html>
<html>
    <head>
        <title>{{pagetitle}}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

        <!-- Stylesheet to be used across site saved in static folder-->
        <link rel="stylesheet" href="../static/style.css">
    </head>
<body>

    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h2><center>Blogz</center></h2>
                <br>
                <ul class="nav nav-pills nav-stacked">
                    {% if 'username' in session %}
                    <li><a href="/blog">Home</a></li>
                    <li><a href="/newpost">New Post</a></li>
                    <li><a href="/logout">Log Out</a></li>
                    {% else %}
                    <li><a href="/signup">Sign Up</a></li>
                    <li><a href="/login">Log In</a></li>
                    {% endif %}
                </ul>
                <br>
            </div>
            
            <div class="col-sm-9">
                <h4><small>{{ pageLabel }}</small></h4>
                <hr>
                {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                {% for category, message in messages %}
                <li class="{{ category }}"> {{ message }} </li>
                {% endfor %}
                </ul>
                {% endwith %}

                                        
                {% block content %}
                {% endblock %}
                
            </div>
        </div>
    </div>
            

</body>

            
<footer class="container-fluid">
        <p>Made by Naty</p>
        </footer>


</html>