{% extends "base.html" %}

{% block content %}
    <h1>Build A Blog</h1>
    <br>
    <h3>New Post:</h3>
    
    <form method='post' id='blogform'>
        <label>
            Title:
            <br>
            <input type="text" name="title" value="{{ title }}" />
            <span>{{ titleError }}</span>
            <br>
            <br>
            <textarea rows="4" cols="75" name="body" form="blogform">{{ body }}</textarea>
            <span>{{ bodyError }}</span>
        </label>
        <br>
        <input type="submit" value='Submit' />
    </form>

{% endblock %}